<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Mvno3Entities" connectionString="metadata=res://*/Mvno.csdl|res://*/Mvno.ssdl|res://*/Mvno.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=testdb.prod.local;initial catalog=Mvno3;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>